body {
	font-family: arial;
	font-size: 12px;
}

textarea {  
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
}

#main-container {
	border: 1px solid black;
}

#header_left {
	text-align: left;
	text-transform: uppercase;
}

#header_right {
	text-align: right;
	text-transform: uppercase;
}

#mainTitle{
	border-bottom: 1px solid black;
	text-align: center;
	background-color: lightgray;
	font-size: 16px;
}

#crhr {
	padding-top: 1.5em;
}

#crNumber {

}

#hdRefNumber {

}

#dateSubmitted {

}

#dateImplemented {

}

#dateRemoved {

}

#typeOfChange {
	padding-bottom: 1.5em;
}

#typeChange {

}

#origin {

}

#estEffort {
	display: flex;
	justify-content: flex-start;
}

#lbl_estEffort {
	padding-right: 1.5em;
}

#softwareSection {
	display: none;
}

#subMainSoft {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	background-color: lightgray;
}

#softCat {
	border-bottom: 1px solid black;
	text-align: center;
}

#sct {
	padding-top: 1.5em;
}

.softCatTick {

}

.softCatDesc {

}

#scd {
	padding-bottom: 1.5em;
}

#stc {
	padding-top: 1.5em;
}

#lbl_softCatDesc, #lbl_softChangeCatDesc {

}

#softChangeCat {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

.softTickCat1 {


}

.otherDesc {

}

.softTickCat2 {

}

#tick_softTickCat {

}

#softChangeCatDesc {

}

#sdo {
	padding-bottom: 1.5em;
}

#HardwareSection {
	display: none;
}

#subMainHw {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	background-color: lightgray;
}

#hwCat {
	border-bottom: 1px solid black;
	text-align: center;
}

.hwCatTick {

}

#hct {
	padding-top: 1.5em;
}

.hwCatDesc {

}

#hwChangeCat {

}

.hwChangeCatDesc {

}

.envName {

}

.dependencies {

}

.hwAffected {

}

#whoAffected {
	
}

#whatWay {
	
}

.crBy {

}

.changeApprovedBy {

}

.assignedImp {

}

.assignedImpTick {

}

#ait {
	padding-bottom: 1.5em;
}

#sectionBMainTitle {

}