body {
	font-family: arial;
	font-size: 12px;
}

#main-container {
	border: 1px solid black;
}

#header_left {
	text-align: left;
	text-transform: uppercase;
}

#header_right {
	text-align: right;
	text-transform: uppercase;
}

#SecARow1Col1 {
	border-bottom: 1px solid black;
	text-align: center;
	background-color: #CAE2CA;
	font-size: 16px;
}

#SecARow2 {
	padding-top: 1.5em;
}

#SecARow4 {
	padding-bottom: 1.5em;
}

#estEffort {
	display: flex;
	justify-content: flex-start;
}

#lbl_estEffort {
	padding-right: 1.5em;
}

#softwareSection {
	display: none;
}

#subMainSoft {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	background-color: #CAE2CA;
}

#softCat {
	border-bottom: 1px solid black;
	text-align: center;
}

#sct {
	padding-top: 1.5em;
}

#scd {
	padding-bottom: 1.5em;
}

#stc {
	padding-top: 1.5em;
}

#softChangeCat {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#HardwareSection {
	display: none;
}

#subMainHw {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	background-color: #CAE2CA;
}

#hwCat {
	border-bottom: 1px solid black;
	text-align: center;
}

#hct {
	padding-top: 1.5em;
}

#ait {
	padding-bottom: 1.5em;
}

#SecARow13 {
	padding-bottom: 1.5em;
	border-bottom: 1px solid black;
}

#SecBHardware {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#SectionB-Header {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#SectionB-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: center;
}

#SecBRow2 {
	padding-top: 1.5em;
}

#SecBRow4 {
	padding-bottom: 1.5em;
}

#SectionC-Header {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#SectionC-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: center;
}

#SecCRow0 {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#SecCRow0_5,
#SecCRow1,
#SecCRow2,
#SecCRow3,
#SecCRow4,
#SecCRow5,
#SecCRow6,
#SecCRow7,
#SecCRow8,
#SecCRow9 {
	padding-bottom: 1.5em;
}

#SecCDocReqRow {
	padding-top: 1.5em;
}

#SectionD-Header {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#SectionD-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: center;
}

#SecDFallbackSummary {
	padding-top: 1.5em;
}

#SecDFallbackDescRow {
	padding-bottom: 1.5em;
	border-bottom: 1px solid black;
}

#SectionEHeader {
	display: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#SectionE-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: center;
}

#SecERow2 {
	padding-top: 1.5em;
}

#SecERow16 {
	padding-bottom: 1.5em;
	border-bottom: 1px solid black;
}

#SectionFHeader {
	display: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
}

#SectionF-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
}

#SecFBody {
	padding-bottom: 1.5em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#SecFRow2 {
	padding-top: 1.5em;
}

#SectionG-Header {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#SectionG-Header_Title {
	background-color: #CAE2CA;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: center;
}

#SecGRow2 {
	text-align: center;
	padding-top: 1.5em;
}

#SecGRow3Col1 {
	text-align: right;
}

#SecGRow4Col1_Row1Col1,
#SecGRow4Col2_Row1Col2 {
	font-size: 14px;
}

#SecGRow4,
#SecGRow6 {
	border-bottom: 1px solid black;
	padding-bottom: 1.5em;
}

#SecGRow5 {
	padding-top: 1.5em;
}

textarea {
	width: 100%;
}

#footerRow1Col2,
#footerRow2Col2 {
	text-align: right;
}

img{
    float: right;
}

#cmdCont{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}